<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module temperature_CO2_plotter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>temperature_CO2_plotter</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/Users/Elmirzeynalov/Desktop/assignment6/temperature_CO2_plotter.py">/Users/Elmirzeynalov/Desktop/assignment6/temperature_CO2_plotter.py</a></font></td></tr></table>
    <p></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="numpy.html">numpy</a><br>
</td><td width="25%" valign=top><a href="os.html">os</a><br>
</td><td width="25%" valign=top><a href="pandas.html">pandas</a><br>
</td><td width="25%" valign=top><a href="matplotlib.pyplot.html">matplotlib.pyplot</a><br>
</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-plot_CO2"><strong>plot_CO2</strong></a>(time_range=[1751, 2012], co2_range=[3, 9671], show=True, save=False)</dt><dd><tt>Creates&nbsp;a&nbsp;plot&nbsp;of&nbsp;CO2&nbsp;levels.<br>
&nbsp;<br>
Given&nbsp;a&nbsp;time&nbsp;span&nbsp;as&nbsp;a&nbsp;list&nbsp;and&nbsp;a&nbsp;co2&nbsp;range&nbsp;this&nbsp;method&nbsp;creates&nbsp;a&nbsp;plot&nbsp;over<br>
the&nbsp;given&nbsp;time&nbsp;span&nbsp;and&nbsp;co2&nbsp;range.&nbsp;<br>
&nbsp;<br>
Keyword&nbsp;Arguments:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;time_range&nbsp;{list}&nbsp;--&nbsp;min&nbsp;and&nbsp;max&nbsp;value&nbsp;for&nbsp;years&nbsp;(default:&nbsp;{[1751,&nbsp;2012]})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;co2_range&nbsp;{list}&nbsp;--&nbsp;min&nbsp;and&nbsp;max&nbsp;value&nbsp;of&nbsp;CO2&nbsp;level&nbsp;(default:&nbsp;{[3,&nbsp;9671]})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show&nbsp;{bool}&nbsp;--&nbsp;show&nbsp;plot&nbsp;(default:&nbsp;{True})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;save&nbsp;{bool}&nbsp;--&nbsp;save&nbsp;plot&nbsp;(default:&nbsp;{False})</tt></dd></dl>
 <dl><dt><a name="-plot_temperature"><strong>plot_temperature</strong></a>(month, time_range=[1816, 2012], temp_range=[-6, 23], show=True, save=False)</dt><dd><tt>Method&nbsp;that&nbsp;creates&nbsp;a&nbsp;plot&nbsp;for&nbsp;a&nbsp;specific&nbsp;month.<br>
&nbsp;<br>
Given&nbsp;a&nbsp;specific&nbsp;month,&nbsp;time&nbsp;span&nbsp;and&nbsp;temperature&nbsp;range&nbsp;a&nbsp;plot&nbsp;is&nbsp;constructed.<br>
&nbsp;<br>
Arguments:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;month&nbsp;{String}&nbsp;--&nbsp;the&nbsp;month&nbsp;you&nbsp;want&nbsp;to&nbsp;generate&nbsp;a&nbsp;plot&nbsp;for<br>
&nbsp;<br>
Keyword&nbsp;Arguments:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;time_range&nbsp;{list}&nbsp;--&nbsp;min&nbsp;and&nbsp;max&nbsp;year&nbsp;(default:&nbsp;{[1816,&nbsp;2012]})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;temp_range&nbsp;{list}&nbsp;--&nbsp;min&nbsp;and&nbsp;max&nbsp;temperature&nbsp;(default:&nbsp;{[-6,&nbsp;23]})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show&nbsp;{bool}&nbsp;--&nbsp;to&nbsp;show&nbsp;plot&nbsp;(default:&nbsp;{True})<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;save&nbsp;{bool}&nbsp;--&nbsp;to&nbsp;save&nbsp;plot&nbsp;as&nbsp;png&nbsp;(default:&nbsp;{False})</tt></dd></dl>
</td></tr></table>
</body></html>